
%head
    
  %link{href: "css/style.css", rel: "stylesheet", type: "text/css"}
  %link{href: "https://fonts.googleapis.com/css?family=VT323", rel: "stylesheet", type: "text/css"}
  %script{src: "../bower_components/jquery/dist/jquery.min.js"}
 

%body.gameBackground
  
  .infoPanel
    .infoPanelLevel 
      %span.infoPanelLevel-text 
    .infoPanel-score 0
    .infoPanel-life
  
  .gameOver 
  .gameOver-message GAME OVER

  .messagePanel
    .messagePanel-levelUpMessage 
    .messagePanel-startGameMessage PRESS ANY KEY TO START

  .charEngine

  .charles
    .charlesMessage
    .charlesHead
      .charlesHead-hair
      .charlesHead-face
    .charlesRightForearm
    .charlesRightUpperarm
    .charlesBody
    .charlesLeftUpperarm
    .charlesLeftForearm
    .charlesShort
      .charlesShort-division
    .charlesRightLeg
    .charlesLeftLeg
    .charlesRightFoot
    .charlesLeftFoot


  %audio{id: "background", loop:, preload:} 
    %source{src: "audio/background.mp3"}
  %audio{id: "levelUp"}
    %source{src: "audio/levelUp.wav"}
  %audio{id: "success"}
    %source{src: "audio/success.wav"}
  %audio{id: "error"}
    %source{src: "audio/error.wav"}
  %script{src: "js/build/app.js"} 
 