@keyframes missed
	50% 
		background-color: red

@keyframes moveRightLeft
	0% 
		right: 30%
		opacity: .5
	80%
		right: calc(50% - 20px)
		opacity: 1
	100%
		right: calc(50% - 20px)
		opacity: 0

@keyframes say
	0%
		opacity: 0
	90%
		opacity: 1
	100%
		opacity: 0

@keyframes blink
	50%
		opacity: 0

@keyframes level
	from
		color: red
	to
		color: yellow

@keyframes pointUp
	0%
		opacity: 1
		margin-top: 0px
	99%
		opacity: 1
		margin-top: -60px
	100%
		opacity: 0

@keyframes continue
	50%
		opacity: 0