#charles.dance1
	left: 51%
	.right-forearm
		margin-top: 0
	.left-forearm
		margin-top: -($forearm-height - $upperarm-height)
	.right-foot
		margin-left: $forearm-width + $upperarm-width + $leg-adjustment - $foot-width + $leg-width + $foot-width - $leg-width
	.left-foot
		margin-left: $leg-adjustment + $foot-width - $foot-width

#charles.dance2
	left: 48%
	.right-forearm
		height: 40px
		margin-top: -25px
	.left-foot
		margin-left: $leg-width + $leg-adjustment

#charles.dance3
	left: 51%
	.right-leg, .left-leg
		height: $leg-height + 20px

#charles.dance4
	left: 49%
	.right-leg, .left-leg
		height: $leg-height - 20px