@import vars
@import dances
@import animations

=build($w, $h, $color)
	width: $w
	height: $h
	background-color: $color

body
	font-family: 'VT323'
	background-color: #BFEFFF
	&.miss
		animation: missed .25s linear
	//&.alert
	//	animation: alert .25s linear

.level-up
	display: none
	font-size: 2em
	position: absolute
	top: 50%
	left: 50%
	color: yellow
	transform: translate(-50%, -50%)
	z-index: 6
	&.level
		display: block
		animation: level .25s linear
		animation-iteration-count: 10

.score
	position: absolute
	top: 15px
	left: 30px
	color: black
	font-size: 2em
	display: none

span.level
	background-color: black
	color: yellow
	padding: 2px
	display: none

.life-bar
	position: absolute
	top: 60px
	left: 30px
	.life
		+build($life-width, $life-height, red)
		float: left
		margin-left: 5px
		&:first-child
			margin-left: 0

.blur
	background-color: black
	opacity: 0.7
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 8
	cursor: pointer
	display: none

.game-over-message
	color: red
	font-size: 8em
	position: absolute
	top: 50% 
	left: 50%
	transform: translate(-50%, -50%)
	letter-spacing: 10px
	z-index: 9
	cursor: pointer
	display: none

.start-message
	color: black
	position: absolute
	top: 50%
	left: 50%
	font-size: 2em
	transform: translate(-50%, -50%)
	z-index: 7 
	animation: blink 1s infinite

.game-over .game-over-message, .game-over .blur
	display: block

.chars
	opacity: 0
	position: absolute
	top: 30px
	right: 30%	
	font-size: 3em
	color: black
	padding: 15px
	background-color: white
	&.move
		animation: moveRightLeft 1s ease

#charles 
	position: absolute
	top: 55%
	left: 50%
	transform: translate(-50%, -50%)

	.message
		position: relative
		top: -40px
		font-size: 2em
		opacity: 0
		&.say
			animation: say 1s ease

	.head      
		margin-left: (($upperarm-width + $forearm-width) * 2 + $body-width) / 2 - ($head-width / 2)
		.hair
			+build($head-width, $hair-height, $hair-color)
		.face
			+build($head-width, $face-height, $skin-color)	
	
	.right-forearm
		+build($forearm-width, $forearm-height, $skin-color)
		float: left
		margin-top: -($forearm-height - $upperarm-height)
	.right-upperarm
		+build($upperarm-width, $upperarm-height, $skin-color)
		float: left
	.body
		+build($body-width, $body-height, $shirt-color)
		float: left			
	.left-upperarm
		+build($upperarm-width, $upperarm-height, $skin-color)
		float: left 
	.left-forearm
		+build($forearm-width, $forearm-height, $skin-color)
		float: left 

	.short-right
		+build($short-width, $short-height, $short-color)
		margin-left: $forearm-width + $upperarm-width
		float: left
		clear: both
	.short-division
		+build($short-division-width, $short-height, $short-division-color)
		float: left
	.short-left
		+build($short-width, $short-height, $short-color)
		float: left

	.right-leg
		+build($leg-width, $leg-height, $skin-color)
		margin-left: $forearm-width + $upperarm-width + $leg-adjustment
		float: left
		clear: both
	.left-leg
		+build($leg-width, $leg-height, $skin-color)
		margin-left: $body-width - ($leg-width * 2) - ($leg-adjustment * 2)
		float: left

	.right-foot
		+build($foot-width, $foot-height, $skin-color)
		margin-left: $forearm-width + $upperarm-width + $leg-adjustment - $foot-width + $leg-width
		float: left
		clear: both
	.left-foot
		+build($foot-width, $foot-height, $skin-color)
		margin-left: $leg-adjustment + $foot-width
		float: left
